[submodule "NFs/nrf"]
	path = NFs/nrf
	url = https://github.com/Intelligent-Systems-Lab/nrf.git
	branch = main
[submodule "NFs/nwdaf"]
	path = NFs/nwdaf
	url = https://github.com/Intelligent-Systems-Lab/NWDAF.git
	branch = master
[submodule "NFs/adrf"]
	path = NFs/adrf
	url = https://github.com/Intelligent-Systems-Lab/adrf.git
	branch = main
[submodule "ML/PyMTLF"]
	path = ML/PyMTLF
	url = https://github.com/Intelligent-Systems-Lab/PyMTLF.git
	branch = main
